.game-button {
    -fx-font-family: 'Courier New';
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#330000, #660000);
    -fx-text-fill: white;
    -fx-border-color: #cc0000;
    -fx-border-width: 3;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-effect: dropshadow(gaussian, #cc0000, 5, 0.5, 0, 0);
}


.game-button:hover {
    -fx-background-color: linear-gradient(#660000, #aa0000);
    -fx-text-fill: white;
    -fx-border-color: #ff0000;
    -fx-effect: dropshadow(gaussian, #ff0000, 15, 0.7, 0, 0);
}

.game-dialogue-text {
    -fx-font-family: "Courier New", monospace;
    -fx-font-size: 18px;
    -fx-fill: #ff0000;
    -fx-effect: dropshadow( gaussian , rgba(255,0,0,0.8) , 6, 0.0 , 0 , 0 );
    -fx-opacity: 0.85;
    -fx-transition: opacity 0.5s ease-in-out;
}
